
*.pyc
*.pyc
project/__pycache__/
project/__pycache__/
project/__pycache__/risk_check_class.cpython-38.pyc
project/__pycache__/server.cpython-38.pyc
project/__pycache__/risk_check_class.cpython-38.pyc
project/__pycache__/server.cpython-38.pyc
project/__pycache__/main.cpython-38.pyc
project/__pycache__/risk_check_class.cpython-38.pyc
project/__pycache__/server.cpython-38.pyc
project/__pycache__/main.cpython-38.pyc
project/outgoing_database.pickle
*project/.pickle
*.pickle
*.pyc
*.pyc
project/__pycache__/main.cpython-38.pyc
