
*.pyc
*.pyc
project/__pycache__/risk_check_class.cpython-38.pyc
project/__pycache__/server.cpython-38.pyc
project/__pycache__/risk_check_class.cpython-38.pyc
project/__pycache__/server.cpython-38.pyc
